
body{
    background-image: url(images/minion.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
    width: 150px;
    overscroll-behavior: hidden;
    margin-top: 2rem;
   place-items: center stretch;
   
    
   
}


.container{
    display: flex;
}


#txt-input{
    background-color:white;
    height: 30vh;
    width:30%;
    overflow: auto;
    
}

#btn-translate{
    box-align: center;
}

.box{
    display: grid;
    width: fit-content;
    grid-template-columns: 120px 120px 120px;
    justify-items: start;
    justify-content: space-between;
    grid-gap: 25px 2em;
}

.box :first-child {
    justify-self: center;
}
 


#output{
    background-color: red;
    height: 45vh;
    width:300px;
    float: right;
    margin-bottom: 10px;
    margin-top: 0px;
    
}

#output-heading{
    text-align: right;
}

.list li{
    list-style-type: none;
    display: inline;
    align-items: center;
}

.list .non-bullets{
    text-decoration: none;
    
}
